.dialog{
  width: 570px;
  height: 150px;
  border: 2px solid #00B4CF;
  position: relative;
  left: -41px;
  top: 10px;
  background: white;
  box-shadow: 0 3px 5px #000;
}

.bot{
  border-width:20px; 
  border-style:solid dashed dashed; 
  border-color: transparent transparent #00B4CF; 
  position: relative;
  left:30px; 
  top:-41px;
}

.top{
  border-width:20px; 
  border-style:solid dashed dashed; 
  border-color:transparent transparent #ffffff ; 
  position: relative;
  left:-10px; 
  top:-38px;
}

.icon-close {
  position: relative;
  left: 470px;
  color: #00B4CF;
  cursor: pointer;
  text-align: center;
}

.text {
  display: block;
  position: relative;
  top: -20px;
  left: 20px;
  width: 380px;
  font-size: 14px;
}

.input {
  background: white;
  width: 400px;
  position: relative;
  top: -20px;
  left: 20px;
}

.add-btn {
  height: 30px;
  width: 120px;
  background: #00B4CF;
  position: relative;
  /* top: -35px; */
  left: 20px;
  text-align: center;
  line-height: 2;
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  background: #01869A;
}

.cancel-btn {
  height: 30px;
  width: 120px;
  background: #2D4054;
  text-align: center;
  line-height: 2;
  color: white;
  cursor: pointer;
  position: relative;
  top: -30px;
  left: 170px;
}

.cancel-btn:hover {
  background: #435466;
}