.icon-trash {
  margin-left: 10px;
}

.icon-trash:hover {
  cursor: pointer;
}

.browser {
  width: 80px;
  text-align: center;
  margin-left: 10px;
  background: #f3f3f3;
}

.browser:hover {
  background: #E1E4E6;
}

.resource-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 650px;
}

.deny {
  height: 30px;
  width: 80px;
  text-align: center;
  background: #00B4CF;
  color: white;
  font-size: 14px;
  line-height: 30px;
}

.deny:hover {
  cursor: pointer;
  background: #01869A;
}

.icon-deny {
  margin-right: 10px;
}