.card-container {
  height: auto;
}

.card-list {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid gainsboro;
  margin-top:15px;
}

.details {
  /* flex: 1; */
  height: 80px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.details-content {
  height: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icon-desktop {
  font-size: 16px;
}

.icon-folder {
  font-size: 16px;
}

.icon-info {
  font-size: 16px;
}

.details-top > span {
  color: #cccccc;
}

.details-content > a{
  text-decoration: none;
  color: #00B4CF;
  line-height: 12px;
}

.idle-text {
  background: #7FBC39;
  width: 60px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.building-text {
  background: #FF9A2A;
  width: 60px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.icon-plus {
  color: white;
  font-size: 18px;
  background: #00B4CF;
  width: 20px;
  height: 20px;
  text-align: center;
}

.icon-plus:hover {
  cursor: pointer;
  background: #01869A;
}

